/* Fonts */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F5F5;
}

div.main-container.loading-idle{
  opacity: 0;
}

.desktop .menu .titles span.loading-idle{
  transform: translateX(50px);
  opacity: 0;
}

article.home .container section .profile-image.loading-idle, 
article.home .container section h2.loading-idle,
article.home .container section h3.loading-idle,
article.home .container section h5.loading-idle{
  transform: translateY(50px);
  opacity: 0;
}

article.home .container section .profile-image{ transition: all .3s ease-out .3s; } 
article.home .container section h2{ transition: all .3s ease-out .4s; } 
article.home .container section h3{ transition: all .3s ease-out .6s; } 
article.home .container section h5{ transition: all .3s ease-out .5s; }


/* Media rules */
@media (min-width: 768px){
  .mobile{ display: none; }
}

@media (max-width: 767px){
  .desktop{ display: none; }
}

/* Articles*/
article{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1DE9B6;
}

article .container  section h2, article .container section h3{
  width: 100%;
  text-align: left;
}

@media (min-width: 768px){
  article:first-of-type{
    margin-top: 60px;
  }
}

@media (max-width: 767px){
  article:first-of-type{
    padding-top: 58px;
  }
}

article .container  section h2, article .container section h3, 
article .container section h5{
  font-weight: 400;
}

@media (min-width: 768px){ 
  article .container  section h2, article .container section h3{
    font-weight: 400;
    text-align: center;
  }
}

/* Home */
article.home .container {
  z-index: 2;
  width: 90%;
  max-width: 1000px;
}

@media (min-width: 768px){
  article.home .container {
  border-top-right-radius: 0;
  border-top-left-radius: 0; 
  }
}

article.home .container  section{
  padding-right: 24px;
  padding-left: 24px;
}

article.home .container section .profile-image{
  margin: 16px;
  margin-top: 50px;
  margin-bottom: 0;
  height: 96px;
  background-position: center;
  background-size: contain;
}

article.home .container section.profile-description{
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.home .container section h2{
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 1.4em;
  color: #393e41;
}

article.home .container section h3{
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 1.1em;
}

article.home .container section h5{
  margin-top: 16px;
  margin-bottom: 0;
  color: #393e41;
  max-width: 550px;
  line-height: 1.8em;
  letter-spacing: .3px;
  font-weight: 300;
  font-size: 1.2em;
}

article.home .container section h6{
  text-align: center;
  margin-bottom: 18px;
}

@media (min-width: 768px){
  article.home .container section .profile-image{
    margin-top: 50px;
  }
  
  article.home .container section h2{
    margin-top: 50px;
    font-size: 1.4em;
  }

  article.home .container section h5{
    margin-top: 25px;
  }
  
  article.home .container section h3{
    margin-top: 25px;
  }
}

/* Ethos */
article.ethos{
  background-color: #D37863;
}

article.ethos .container{
  z-index: 1;
  width: 90%;
  max-width: 1200px;
  padding: 32px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.ethos .container h2, article.ethos .container h5{
  color: white;
}

article.ethos .container h5{
  line-height: 1.7em;
  letter-spacing: .3px;
  font-size: 1em;
  max-width: 800px;
}

article.ethos .container h5 a{
  color: #1DE9B6;
  text-decoration: none;
  font-weight: bold;
  border-bottom: solid white 2px;
}


@media (min-width: 768px){
  article.ethos .container{
    padding-top: 64px;
  }

  article.ethos .container h2{
    font-size: 1.6em;
  }
}

footer{
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span{
  color: #393e41;
}

/* Elements */
.card{
  overflow: hidden;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.profile-image{
  background-image: url('../res/profile-placeholder.png');
  background-repeat: no-repeat;
}

.bg-blue-grey{
  background-color: #607D8B; 
}

.bg-light-grey{
  background-color: #8BC34A;
}

.card.radius-bottom-only{
  border-top-right-radius: 0;
  border-top-left-radius: 0;  
}

