/* Fonts */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: #F5F5F5;
}

/* Media rules */
@media (min-width: 768px){
  .mobile{ display: none; }
}

@media (max-width: 767px){
  .desktop{ display: none; }
}

/* Menu */
  /* Desktop */
.desktop .menu{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #009688;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.desktop .menu .titles{
  width: 40%;
  margin-left: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.desktop .menu .titles span{
  padding: 16px;
  color: white;
  font-size: large;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color .2s ease-out, background-color .4s ease-out;
}

.desktop .menu .titles span:hover, .desktop .menu .titles span.selected{
  color: #1DE9B6;
}

.desktop .menu .titles span:active{
  color: white;
}

.desktop .menu .bar{
  display: inline-block;
  position: relative;
  height: 4px;
  width: 0;
  border-radius: 3px;
  background-color: #1DE9B6;
  will-change: transform;
  transition: transform .3s ease-out;
}
  /* Mobile */
.mobile{
  z-index: 4;
  position: fixed;
  height: 100%;
  width: 90%;
}

.mobile .top-bar{
  position: fixed;
  width: calc( 100% - 32px );
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.mobile .top-bar .background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.19);
  opacity: 1;
  transition: opacity .2s ease-out;
}

.mobile .top-bar.idle .background{
  opacity: 0;
  /*box-shadow: none;*/
}

.mobile .top-bar #menu-icon{
  z-index: 1;
  width: 26px;
  height: 26px;
}

.mobile #menu-icon svg{
  height: 26px;
  width: 26px;
}

.mobile #menu-icon svg path{
  fill: #009688;
}

.mobile .top-bar .profile-image{
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  background-size: contain;
  transition: transform .3s ease-out;
  will-change: transform;
  z-index: 1;
}

.mobile .top-bar.idle .profile-image{
  transform: translateX(50px);
}

.mobile .side-menu{
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: translateX(-105%);
  will-change: transform;
  transition: transform .4s ease-in-out;
}

.mobile .side-menu.opened{
  transform: translateX(0);
}

.mobile .side-menu .profile-container{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  background-color: teal;
}

.mobile .side-menu .profile-container .profile-image{
  height: 64px;
  width: 64px;
  background-size: contain;
  background-position: center;
}

.mobile .side-menu .profile-container .profile-image + span{
  margin-top: 16px;
  color: white;
}

.mobile .side-menu .titles{
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile .side-menu .titles span{
  padding: 8px;
  transition: color .2s ease-out, background-color .4s ease-out;
}

.mobile .side-menu .titles span:active{
  background-color: lightgrey;
}

/* Article */
article{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1DE9B6;
}


article .container  section h2, article .container section h3{
  width: 100%;
  text-align: left;
}

@media (min-width: 768px){
  article:first-of-type{
    margin-top: 60px;
  }
}

@media (max-width: 767px){
  article:first-of-type{
    padding-top: 58px;
  }
}

article .container  section h2, article .container section h3, 
article .container section h5{
  font-weight: 400;
}

@media (min-width: 768px){ 
  article .container  section h2, article .container section h3{
    font-weight: 400;
    text-align: center;
  }
}
  /* Home */
article.home .container {
  z-index: 2;
  width: 90%;
  height: calc( 100% + 32px );
  max-width: 1800px;
}

@media (min-width: 768px){
  article.home .container {
  border-top-right-radius: 0;
  border-top-left-radius: 0; 
  }
}

article.home .container  section{
  padding-right: 16px;
  padding-left: 16px;
}

article.home .container section .profile-image{
  margin: 16px;
  height: 64px;
  background-position: center;
  background-size: contain;
}

article.home .container section.profile-description{
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.home .container section h2, article.home .container section h3{
  margin-top: 0;
}

article.home .container section h5{
  margin-top: 0;
  color: #009688;
  max-width: 800px;
  line-height: 2em;
  letter-spacing: .3px;
  font-weight: 400;
  font-size: medium;
}

  /* Ethos */
article.ethos{
  background-color: #607D8B;
}

article.ethos .container{
  z-index: 1;
  width: 90%;
  max-width: 1800px;
  padding: 8px; 
  padding-top: 32px;
}

article.ethos .container h2, article.ethos .container h5{
  color: white;
}

article.ethos .container h5{
  font-size: medium;
}

  /* Works */
article.works{
  background-color: white;
}

article.works .container{
  width: 90%;
  max-width: 1800px;
}

article.works .container .works-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

article.works .container .works-container .work-container{
  height: 90px;
  flex-basis: 100%;
}

@media (min-width: 768px) and (max-width: 1440px){
  article.works .container .works-container .work-container{  
    flex-basis: 50%;
  }
}

@media (min-width: 1441px){
  article.works .container .works-container .work-container{
    flex-basis: 33.3%;
  }
}

article.works .container .works-container .work-container .work{
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
  background: teal;
  transition: all .4s ease-out;
}

article.works .container .works-container .work-container .work.hidden{
  opacity: 0;
  transform: translateY(64px);
}

/* Elements */
.card{
  overflow: hidden;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.profile-image{
  background-image: url('../res/profile-placeholder.png');
  background-repeat: no-repeat;
}

.bg-blue-grey{
  background-color: #607D8B; 
}

.bg-light-grey{
  background-color: #8BC34A;
}

.card.radius-bottom-only{
  border-top-right-radius: 0;
  border-top-left-radius: 0;  
}

