Nowadays websites should be previously built for smartphones and then adapted to desktops. 
Why? Well because most probably you're reading this from a phone. <br/> 
What people are looking for are fast and responsive apps and websites, and here I am to let you achieve it. <br/>
I don't believe in living-through-breathing, but I love open-source projects.
For instance, you can find this site on github going <a href="https://github.com/andreatulimiero/andreatulimiero.github.io">here</a> .
This is both a <strong>CSS</strong> and <strong>JS</strong> <em>framework-free</em>, <em>Vanilla</em> site so feel free to take whatever you like.