<div class="container">
  <section>
    <h2>Ethos</h2>
    <h5>
      Nowadays websites should be previously built for mobile phone and then adapted to desktop ones. Why? Well 
      I don't believe in living-through-breathing, but I love open-source projects.
      For instance, you can find this site on github going <a href="https://github.com/andreatulimiero/andreatulimiero.github.io">here</a> .
      This is both a <strong>CSS</strong> and <strong>JS</strong> <em>framework-free</em>, <em>Vanilla</em> site so feel free to take whatever you like.
      Hope it will inspire both your coder and designer side.
    </h5>
  </section>
</div>