<div class="container">
  <section>
    <h2>Projects</h2>
    <div class="projects-container"> 
      <div class="project-container">
        <div class="project hidden">
          <div>
            <span>Javascript Closure compiler in Python</span>
          </div>
        </div>
      </div>
      <div class="project-container">
        <div class="project hidden"></div>
      </div>
      <div class="project-container">
        <div class="project hidden"></div>
      </div>
      <div class="project-container">
        <div class="project hidden"></div>
      </div>
    </div>
  </section>
</div>