<div class="splash-container loading-idle">
  <div class="splash-disk">
  </div>
</div>
<div class="main-container loading-idle">
  <header>
    {% include 'body/_header.html' %}
  </header>

  <article class="home">
    {% include 'body/_article-home.html' %}
  </article>

  <article class="ethos">
    {% include 'body/_article-ethos.html' %}
  </article>

  <article class="projects">
    {% include 'body/_article-projects.html' %}
  </article>

  <footer>
    {% include 'body/_footer.html' %}
  </footer>
</div>
